<div class="container mt-5">
  <h3> Hello World!</h3>
  <%= link_to privacy_policy_path, class: "btn btn-lg btn-outline-warning" do %>
    <i class="fa-solid fa-building-shield"></i>
    Privacy Policy
  <% end %>
</div>